html,
body {
  scroll-behavior: smooth;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body{
  background: black;
}